{% extends 'index.html' %}

{% block content %}

<div class= "container">
    <h3>
        <strong>Your Cart</strong>
    </h3>
    
    <table class="responsive-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Item Price</th>
                <th >Quantity</th>
                <th >Total Item Price</th>
            </tr>
        </thead>
        
        <tbody>
            {% for order_item in object.items.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ order_item.item.title }}</td>
                <td>
                    Ksh {{ order_item.item.price}}
                </td>
                <td>
                    <a href="{% url 'add-to-cart' order_item.item.pk %}"><i class="material-icons">add</i></a>
                    <span style="font-size: 24px; line-height:1;">{{ order_item.quantity }}</span style="font-size: 20px;">
                    <a href="{% url 'reduce-quantity-item' order_item.item.pk %}"><i class="material-icons">remove</i></a>
                </td>
                <td>
                    Ksh {{order_item.get_total_item_price}}                   
                </td>
            </tr>
            
            {% empty %}
            <tr>
                <td>Your Cart Empity</td>
            </tr>
            
            <tr>
                <td>
                    <a href="/" class="waves-effect waves-light btn blue-grey darken-3 right">Continue Shopping</a>
                </td>
            </tr>
            
            {% endfor %}
            
            {% if object.get_total_price %}
        
            <tr>
                <td><b>Total Order Price</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Ksh {{ object.get_total_price }}</b></td>
            </tr>
            
            {% endif %}
        </tbody>
    </table>
    <a href="/" class="waves-effect waves-light right btn blue-grey darken-3">Continue Shopping</a>
    <a href="{% url 'checkout' %}" class="waves-effect right waves-light btn yellow darken-2">Checkout</a>
    
</div>

{% endblock content %}